<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BaseUrl" value="https://api.appcenter.ms/" />
		<add key="AppName" value="App5" />
		<add key="OwnerName" value="lilia.sabitova" />
		<add key="ApiKeyName" value="X-API-Token" />
		<add key="Token" value="c3f1090613c49e6fc7f18db87b1d0d759864fb63" />
		<add key="Debug" value="True" />
		<!--Timeout for build run and Sleep for build finishing check - both in seconds-->
		<add key="Timeout" value="600" />
		<add key="Sleep" value="20" />
	</appSettings>
</configuration>