<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BaseUrl" value="https://api.appcenter.ms/" />
		<add key="AppName" value="App5" />
		<add key="OwnerName" value="lilia.sabitova" />
		<add key="Token" value="c3f1090613c49e6fc7f18db87b1d0d759864fb63" />
		<add key="Debug" value="True" />
	</appSettings>
</configuration>